$text_color: var(--felan-color-text);
$primary_color: var(--felan-color-primary);
$accent_color: var(--felan-color-accent);
$secondary_color: var(--felan-color-secondary);
$border_color: var(--felan-color-border);
$bg_body: var(--felan-color-bg);

$font_size: 16px;
$body_font: "Inter";
