.elementor-editor-active {
  .page-header {
    pointer-events: none;

    * {
      pointer-events: none !important;
    }
  }
}

.elm-section-static {
  > .elementor-container {
    position: static !important;
  }
}

.elementor-column.elm-column-static {
  position: static;
  > .elementor-widget-wrap {
    position: static;
  }
}

.elementor-element-editable {
  &.felan-heading-wrapper-editing {
    .felan-modern-heading {
      outline: 1px dashed #eee;
    }
  }

  &.elementor-widget-felan-image-layers {
    .artboard {
      outline: 2px dashed #d5dadf;
    }
  }

  // Force showing swiper arrows on edit in editor.
  &.felan-swiper-arrows-editing {
    .felan-swiper {
      .swiper-nav-button {
        transition-delay: 0s !important;
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }

  &.felan-map-marker-overlay-editing {
    .felan-map-overlay-content {
      display: block !important;
    }
  }
}

.elementor-widget-felan-flip-box {
  &.felan-flip-box--flipped {
    .elementor-widget-container {
      .front-side {
        display: none;
      }

      .back-side {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
      }
    }
  }
}

.fal,
.far {
  font-family: "Font Awesome 5 Pro" !important;
}

.elementor-widget-heading .elementor-heading-title {
  margin-bottom: 0;
}

body.home {
  overflow-x: hidden;
}

.hover-svg-white .elementor-widget-icon {
  svg {
    transition: all 0.3s;
  }
  &:hover svg,
  &:hover svg path {
    fill: #fff;
  }
}
