.site-menu {
  .menu {
    li i {
      font-size: 12px;
    }

    li a {
      display: block;
    }

    .menu-item-has-children > a,
    .page_item_has_children > a {
      @include d-flex();
      @include align-items-center();
    }
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-menu.desktop-menu {
  .menu {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    > li {
      display: inline-block;

      > a {
        font-weight: 400;
        padding: 18px 8px;
      }
    }

    li {
      .sub-menu,
      .children {
        display: block;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        @include transition-03;
        pointer-events: none;
      }
    }

    li:hover > .sub-menu {
      opacity: 1;
      visibility: visible;
      @include transition-03;
      pointer-events: all;
    }
  }

  .sub-menu,
  .children {
    display: block;
    position: absolute;
    left: 0;
    z-index: 2;
  }

  &.main-menu {
    li {
      position: relative;
    }

    li a {
      display: flex;
      line-height: 23px;
      font-weight: 400;
      border-left: 0;
    }

    .menu > li > a {
      .chevron {
        padding-left: 5px;
      }
      i {
        top: -1px;
        position: relative;
        @include transition(transform 0.5s cubic-bezier(0.65, 0, 0.35, 1));
      }
      &:hover {
        i {
          @include transform(rotate(180deg));
        }
      }
    }

    .sub-menu {
      min-width: 240px;
      background: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 8px;
      @include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.05));

      li {
        padding: 6px 15px;
      }

      li a {
        position: relative;
        padding: 0;
        &:hover {
          background-color: initial;
          color: var(--felan-color-accent);
        }
      }

      li i {
        transform: rotate(-90deg);
        @include transform(rotate(-90deg));
        position: relative;
        left: 5px;
        padding-left: 2px;
      }

      .menu-item-title {
        display: inline-block;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          border-top: 1px solid $accent_color;
          @include transform(scaleX(0));
          @include transform-origin(right center);
          @include transition(
            transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
          );
        }
      }

      // li.current-menu-item .menu-item-title:after,
      // .mega-menu-content .felan-list .item.active .text:after,
      // .menu-item-title:hover:after {
      //   @include transform(scaleX(1));
      //   @include transform-origin(left center);
      // }

      .mega-menu-content .felan-list .item.active .text,
      li.current-menu-item > a > .menu-item-wrap > .menu-item-title {
        color: $accent_color;
      }

      .sub-menu {
        top: 0 !important;
        left: 100%;
      }
    }
  }

  .sub-menu.mega-menu {
    position: absolute;
    left: 0;
    width: max-content;
    background-color: transparent;
    box-shadow: none;
    > .menu-item {
      margin-top: -15px;
    }
    .row {
      @include align-items-center();
      @include flex-wrap();
      margin: 0 auto;
    }
    .col-xs-12 {
      @include flex(0 0 100%);
      max-width: 100%;
    }
    .elementor-section {
      padding-bottom: 10px;
    }
    .felan-link-item {
      position: absolute;
    }
    .elementor-widget-felan-jobs-category {
      .felan-layout-01 .icon-cate {
        margin-bottom: 0 !important;
      }
      .cate-inner:hover {
        background-color: rgba(0, 116, 86, 0.05);
        @include box-shadow(none);
      }
    }
    .modern-tabs-item {
      .elementor-section {
        @include box-shadow(none);
      }
    }
    .elementor-widget-felan-companies-category .cate-content:hover {
      background-color: rgba(0, 116, 86, 0.05);
    }
  }

  .mega-menu {
    position: relative;

    .sub-menu,
    .children {
      right: 0;
      min-width: 240px;
      width: auto;
    }

    .elementor-section {
      background-color: #fff;
      @include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.05));
      border-radius: 16px;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    &.mega-menu-default {
      .sub-menu,
      .children {
        padding: 20px 15px;
        background: #fff;
        @include box-shadow(0 2px 30px rgba(0, 0, 0, 0.05));
      }
    }

    &.mega-menu-full-width {
      .mega-menu-content.container {
        max-width: 100%;
      }

      .sub-menu,
      .children {
        @include box-shadow(0 2px 30px rgba(0, 0, 0, 0.05));
      }
    }

    &.mega-menu-full-width,
    &.mega-menu-container {
      position: inherit;
    }

    &.mega-menu-container {
      .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.site-header .row .site-menu.desktop-menu {
  .mega-menu-full-width,
  .mega-menu-container {
    .sub-menu,
    .children {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.mb-menu {
  margin-right: 25px;
}

.canvas-menu {
  display: inline-block;
  a.icon-menu {
    font-size: 24px;
    display: flex;
  }
  &.canvas-left .area-menu {
    left: 0;
    @include transform(translateX(-100%));
  }
  &.canvas-right .area-menu {
    right: 0;
    @include transform(translateX(100%));
  }
  &.active {
    .bg-overlay {
      opacity: 1;
      visibility: visible;
      @include transition-03;
    }
    .area-menu {
      @include transform(translateX(0));
      @include transition-03;
    }
  }
  &.d-hidden {
    display: none;
  }
}

.area-menu {
  position: fixed;
  top: 0;
  z-index: 6;
  height: 100vh;
  width: 320px;
  z-index: 5;
  font-size: 16px;
  font-weight: 500;
  color: $text_color;
  @include transition-03;

  .btn-close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 24px;
    line-height: 1;
    z-index: 1;
  }

  .inner-menu {
    position: relative;
    top: 0;
    left: 0;
    z-index: 6;
    background: #fff;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-touch-action: auto;
    touch-action: auto;
  }

  .menu {
    padding: 30px 25px;
    margin-bottom: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      display: block;
      margin-bottom: 25px;
      line-height: inherit;
      &:last-child {
        margin-bottom: 0;
      }
    }

    li a {
      display: block;
    }

    .sub-menu,
    .children {
      margin-top: 25px;
      padding-left: 22px;
      display: none;
    }
  }

  .top-mb-menu {
    display: flex;
    padding: 25px;
  }

  .account {
    a + a {
      margin-left: 25px;
    }
    .user-control {
      .inner-control {
        box-shadow: none;
        padding: 0;
        ul li {
          padding-left: 0;
          padding-right: 0;
        }
        .logout {
          display: inline-block;
          padding: 0;
          border: 0;
        }
      }
    }
    &.active .user-control {
      display: block;
      opacity: 1;
      visibility: visible;
      left: -16px;
      right: auto;
      padding-top: 0;
    }
  }
  .mb-destinations {
    padding: 25px;
  }
  .add-jobs {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    svg {
      position: relative;
      bottom: -2px;
    }
  }
  .dropdown-select {
    display: block;
    ul li a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    ul li:last-child a {
      padding-bottom: 0;
    }
  }
  .dropdown-select .entry-select {
    display: none;
    position: relative;
    margin-top: 0;
    padding: 0;
    opacity: 1;
    visibility: visible;
    max-width: inherit;
    min-width: inherit;
    @include box-shadow(none);
  }
  .dropdown-select.active .entry-select {
    margin-top: 10px;
    margin-bottom: 0;
    display: block;
  }
}

.site-menu.mobile-menu {
  .account {
    .user-control {
      text-align: left;
      ul {
        padding-left: 0;
      }
    }
    .user-show {
      i.fa-chevron-down {
        display: inline-block;
        font-size: 12px;
        margin-left: 3px;
        font-weight: 900;
      }
    }
    &.active {
      .user-show i.fa-chevron-down::before {
        content: "\f077";
      }
    }
  }

  .avatar {
    @include d-flex();
  }

  .user-name {
    @include d-flex();
    @include flex-column();
    color: $primary_color;
  }

  .chevron {
    padding-left: 5px;
  }

  .dropdown-categories ul.entry-select {
    padding-left: 10px;
  }

  .site-logo {
    padding: 25px;
    margin-right: 0;

    img {
      max-width: 100px;
    }
  }
  .add-job,
  .add-job-login {
    margin: 25px;
  }
}

#menu-mobie-menu {
  .chevron {
    padding-left: 5px;
    i {
      top: -1px;
      position: relative;
      @include transition(transform 0.5s cubic-bezier(0.65, 0, 0.35, 1));
    }
  }
  li.active > a {
    i {
      @include transform(rotate(180deg));
    }
  }
}

.admin-bar {
  .area-menu .inner-menu {
    top: 32px;
  }
}

@media only screen and (max-width: 374px) {
  .area-menu {
    width: 270px;
  }
}

@media only screen and (max-width: 1199px) {
  .canvas-menu.d-hidden {
    display: block;
  }
}
