.felan-accordion-image .accordion-icon {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.felan-accordion-image .accordion-title {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
  margin-bottom: 0;
  color: inherit;
  font-size: 18px;
}
.felan-accordion-image .accordion-header {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  align-items: center;
  min-height: 60px;
  cursor: pointer;
}
.felan-accordion-image
  .accordion-section.active
  > .accordion-header
  .closed-icon {
  display: block;
}
.felan-accordion-image
  .accordion-section.active
  > .accordion-header
  .opened-icon {
  display: none;
}
.felan-accordion-image .accordion-title-wrapper {
  font-size: 0;
  flex-grow: 1;
}
.felan-accordion-image .accordion-icons {
  font-size: 16px;
  flex-shrink: 0;
  margin: 0 0 0 10px;
  line-height: 0;
}
.felan-accordion-image .accordion-icons .closed-icon {
  display: none;
}
.felan-accordion-image .accordion-content {
  display: none;
  color: #7e7e7e;
}

.felan-accordion-image.felan-accordion-image-icon-left .accordion-header {
  flex-direction: row-reverse;
}
.felan-accordion-image.felan-accordion-image-icon-left .accordion-icons {
  margin-left: 0;
  margin: 0 10px 0 0;
}

.elementor-widget-felan-accordion-image .accordion-heading {
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 32px;
}
.elementor-widget-felan-accordion-image .felan-accordion-image {
  margin-bottom: 32px;
}
.elementor-widget-felan-accordion-image
  .felan-accordion-image
  .accordion-header {
  min-height: unset;
}
.elementor-widget-felan-accordion-image .accordion-section {
  border-left: 1px solid #d9d9d9;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.elementor-widget-felan-accordion-image .accordion-section:first-child {
  padding-top: 0px;
}
.elementor-widget-felan-accordion-image .accordion-section:last-child {
  padding-bottom: 0px;
}
.elementor-widget-felan-accordion-image
  .accordion-section
  .accordion-title:hover {
  color: #111111;
}
.elementor-widget-felan-accordion-image .accordion-section.active {
  border-left-color: #111111;
}
.elementor-widget-felan-accordion-image
  .accordion-section.active
  .accordion-title {
  color: #111111;
}
.elementor-widget-felan-accordion-image
  .accordion-section.active
  .accordion-content {
  color: #111111;
}
.elementor-widget-felan-accordion-image .accordion-title {
  color: #999999;
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 24px;
}
.elementor-widget-felan-accordion-image .accordion-content {
  color: #999999;
}
.elementor-widget-felan-accordion-image .flex {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.elementor-widget-felan-accordion-image .flex .left {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  padding-right: 45px;
}
.elementor-widget-felan-accordion-image .flex .right {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
.elementor-widget-felan-accordion-image .right {
  position: relative;
  overflow: hidden;
}
.elementor-widget-felan-accordion-image .right img {
  overflow: hidden;
  transition: opacity 800ms cubic-bezier(0.16, 1, 0.3, 1) 0s, transform 800ms 0s;
}
.elementor-widget-felan-accordion-image .right img + img {
  position: absolute;
  top: 0;
  left: 15px;
  opacity: 0;
}
.elementor-widget-felan-accordion-image .right img:first-child {
  position: relative;
  opacity: 1;
  transform: translateY(0%);
}

@media (max-width: 767px) {
  .elementor-widget-felan-accordion-image .flex {
    flex-direction: column;
  }
  .elementor-widget-felan-accordion-image .flex .left {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .elementor-widget-felan-accordion-image .flex .right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    width: -webkit-fill-available;
    object-fit: cover;
    height: auto;
  }
  .elementor-widget-felan-accordion-image .flex .right img {
    width: -webkit-fill-available;
    object-fit: cover;
    height: auto;
  }
}

/*# sourceMappingURL=accordion-image.css.map */
