$color_1: #fff;
$color_2: #ffd75e;

.elementor-widget-felan-freelancer-carousel {
  .felan-box {
    position: absolute;
    right: 5%;
    bottom: 0;
    .slide-content {
      position: absolute;
      right: 60px;
      bottom: 80px;
      .title {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color_1;
        span {
          font-weight: 600;
        }
      }
    }
  }
  .rating {
    display: flex;
    align-items: center;
    .star {
      i {
        color: $color_2;
        margin-right: 2px;
      }
    }
  }
}
