.felan-modern-heading {
  max-width: 100%;
}
.felan-modern-heading .elementor-heading-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3;
}
.felan-modern-heading .heading-secondary {
  font-size: 16px;
}
.felan-modern-heading .heading-description {
  font-size: 18px;
  line-height: 1.44;
}
.felan-modern-heading .heading-description p,
.felan-modern-heading .heading-description a {
  display: inline-block;
}
.felan-modern-heading .heading-primary-wrap,
.felan-modern-heading .heading-secondary-wrap {
  line-height: 1;
}
.felan-modern-heading .heading-primary,
.felan-modern-heading .heading-secondary,
.felan-modern-heading .heading-description,
.felan-modern-heading .heading-divider {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.felan-modern-heading a {
  display: block;
  color: inherit;
  font-size: inherit;
}
.felan-modern-heading a:hover {
  color: inherit;
  font-size: inherit;
}
.felan-modern-heading mark {
  background-color: transparent;
  padding: 0;
}
.felan-modern-heading mark span {
  margin-left: 5px;
}
.felan-modern-heading .heading-description-wrap {
  margin-top: 12px;
}
.felan-modern-heading .heading-description-wrap:first-child {
  margin-top: 0;
}
.felan-modern-heading .heading-secondary-wrap {
  margin-bottom: 10px;
}
.felan-modern-heading .heading-divider-wrap {
  line-height: 0;
  margin-top: 10px;
}
.felan-modern-heading .heading-divider {
  height: 2px;
  width: 100px;
  background: var(--felan-color-primary);
}

.custom-mark .felan-modern-heading mark {
  position: relative;
  z-index: 2;
  font-style: italic;
}
.custom-mark .felan-modern-heading mark::before {
  background-image: url("mark-heading.webp");
  content: "";
  width: 100%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 70%;
  height: 100%;
  z-index: -1;
}
.custom-mark.top90 .felan-modern-heading mark::before {
  top: 90%;
}

.custom-mark-yellow mark {
  position: relative;
}
.custom-mark-yellow mark:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 9px;
  bottom: 12px;
  z-index: -1;
  background-color: #FFC402;
}

.felan-link-animate-border .heading-primary a:hover mark:before {
  transform: scaleX(0) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.felan-link-animate-border .heading-primary a:hover mark:after {
  transform: scaleX(1) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.felan-link-animate-border .heading-primary a mark {
  position: relative;
  display: inline-block;
  line-height: 1;
  padding: 3px 0;
}
.felan-link-animate-border .heading-primary a mark:before, .felan-link-animate-border .heading-primary a mark:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e0e0e0;
  transform-origin: right;
  transform: scaleX(1) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.felan-link-animate-border .heading-primary a mark:after {
  transform-origin: left;
}
.felan-link-animate-border .heading-primary a mark:after {
  transform: scaleX(0) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.felan-link-animate-border-02 .heading-primary a:hover mark:before {
  width: 100%;
  left: 0;
  right: auto;
}
.felan-link-animate-border-02 .heading-primary a mark {
  position: relative;
  display: inline-block;
  line-height: 1;
  padding: 3px 0;
}
.felan-link-animate-border-02 .heading-primary a mark:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: #e0e0e0;
}

/*# sourceMappingURL=heading.css.map */
