.elementor-widget-felan-image-animation {
  --felan-animation-transformX-0: 20px;
  --felan-animation-transformY-0: 60px;
  --felan-animation-transformX-100: 160px;
  --felan-animation-transformY-100: -40px;
  --felan-animation-delay: 2000ms;
  --felan-animation-jump-top: 3%;
  --felan-animation-jump-left: 3%;
}
.elementor-widget-felan-image-animation.felan-style-jump.jump-top .felan-image {
  animation: jump_top var(--felan-animation-delay) infinite ease-in-out
    alternate;
}
.elementor-widget-felan-image-animation.felan-style-jump.jump-left
  .felan-image {
  animation: jump_left var(--felan-animation-delay) infinite ease-in-out
    alternate;
}
.elementor-widget-felan-image-animation.felan-style-circular-motion {
  animation: translateAnimation var(--felan-animation-delay) infinite
      ease-in-out alternate,
    zindexAnimation calc(var(--felan-animation-delay) * 2) infinite ease-in-out;
}
.elementor-widget-felan-image-animation.felan-style-circular-motion
  .felan-image {
  animation: scaleAnimation var(--felan-animation-delay) infinite ease-in-out
    alternate;
  transform: scale(0.5);
  animation-delay: calc(var(--felan-animation-delay) / -2);
}
.elementor-widget-felan-image-animation.felan-style-lamp-swing
  .style-lamp-swing {
  position: relative;
  animation: lamp_swing var(--felan-animation-delay) infinite alternate
    ease-in-out;
  transform-origin: 30px -20px;
}
.elementor-widget-felan-image-animation.felan-style-lamp-swing
  .style-lamp-swing:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 20px;
  background: black;
  top: -50px;
  left: 30px;
}
.elementor-widget-felan-image-animation.felan-style-lamp-swing
  .style-lamp-swing:after {
  content: "";
  display: block;
  position: absolute;
  top: 82%;
  left: -85px;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), transparent);
  height: 520px;
  width: 280px;
  border-radius: 100% 100% 0 0;
  z-index: -1;
}
.elementor-widget-felan-image-animation.felan-style-lamp-swing
  .felan-image:before {
  content: "";
  width: 24px;
  height: 8px;
  left: 38px;
  position: absolute;
  top: 82%;
  border-radius: 50%;
  background-color: transparent;
  -webkit-box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
  -moz-box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
  box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
  animation: flash 5s infinite ease-in-out alternate;
}

@keyframes translateAnimation {
  0% {
    -webkit-transform: translateX(var(--felan-animation-transformX-0))
      translateY(var(--felan-animation-transformY-0));
    -moz-transform: translateX(var(--felan-animation-transformX-0))
      translateY(var(--felan-animation-transformY-0));
    -o-transform: translateX(var(--felan-animation-transformX-0))
      translateY(var(--felan-animation-transformY-0));
    -ms-transform: translateX(var(--felan-animation-transformX-0))
      translateY(var(--felan-animation-transformY-0));
    transform: translateX(var(--felan-animation-transformX-0))
      translateY(var(--felan-animation-transformY-0));
  }
  100% {
    -webkit-transform: translateX(var(--felan-animation-transformX-100))
      translateY(var(--felan-animation-transformY-100));
    -moz-transform: translateX(var(--felan-animation-transformX-100))
      translateY(var(--felan-animation-transformY-100));
    -o-transform: translateX(var(--felan-animation-transformX-100))
      translateY(var(--felan-animation-transformY-100));
    -ms-transform: translateX(var(--felan-animation-transformX-100))
      translateY(var(--felan-animation-transformY-100));
    transform: translateX(var(--felan-animation-transformX-100))
      translateY(var(--felan-animation-transformY-100));
  }
}
@keyframes scaleAnimation {
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zindexAnimation {
  25% {
    z-index: 1;
  }
  75% {
    z-index: -1;
  }
}
@keyframes jump_left {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(var(--felan-animation-jump-left));
    -moz-transform: translateX(var(--felan-animation-jump-left));
    -o-transform: translateX(var(--felan-animation-jump-left));
    -ms-transform: translateX(var(--felan-animation-jump-left));
    transform: translateX(var(--felan-animation-jump-left));
  }
}
@keyframes jump_top {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(var(--felan-animation-jump-top));
    -moz-transform: translateY(var(--felan-animation-jump-top));
    -o-transform: translateY(var(--felan-animation-jump-top));
    -ms-transform: translateY(var(--felan-animation-jump-top));
    transform: translateY(var(--felan-animation-jump-top));
  }
}
@keyframes lamp_swing {
  0% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@keyframes flash {
  5% {
    -webkit-box-shadow: 0 10px 10px 2px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 10px 10px 2px rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 10px 2px rgba(255, 255, 255, 0.2);
  }
  25% {
    -webkit-box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
    -moz-box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
    box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
  }
  80% {
    -webkit-box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
    -moz-box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
    box-shadow: 0 10px 10px 2px rgb(255, 255, 255);
  }
  100% {
    -webkit-box-shadow: 0 10px 10px 2px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 10px 10px 2px rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 10px 2px rgba(255, 255, 255, 0.2);
  }
}

/*# sourceMappingURL=image-animation.css.map */
