.elementor-widget-felan-testimonial {
  text-align: center;
}
.elementor-widget-felan-testimonial .testimonial-item {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.elementor-widget-felan-testimonial .elementor-carousel .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}
.elementor-widget-felan-testimonial .elementor-carousel .testimonial-inner {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-widget-felan-testimonial .elementor-carousel .testimonial-inner > .quote,
.elementor-widget-felan-testimonial .elementor-carousel .testimonial-inner > .box-post {
  display: none;
}
.elementor-widget-felan-testimonial.align-left {
  text-align: left;
}
.elementor-widget-felan-testimonial.align-right {
  text-align: right;
}
.elementor-widget-felan-testimonial .testimonial-main-content {
  display: flex;
  justify-content: center;
}
.elementor-widget-felan-testimonial .content-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.elementor-widget-felan-testimonial .progress {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #E5E7EB;
  background-image: linear-gradient(to right, #111111, #111111);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}
.elementor-widget-felan-testimonial .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.elementor-widget-felan-testimonial.layout-image-bottom.align-center .image img {
  margin-left: auto;
  margin-right: auto;
}
.elementor-widget-felan-testimonial.layout-image-bottom .position {
  margin-top: 8px;
}
.elementor-widget-felan-testimonial.layout-image-bottom .content {
  margin-top: 24px;
}
.elementor-widget-felan-testimonial.layout-image-bottom .content .text {
  font-size: 20px;
}
.elementor-widget-felan-testimonial.layout-image-bottom .image {
  padding-top: 40px;
}
.elementor-widget-felan-testimonial.layout-image-bottom .nav-style-03 .swiper-nav-button {
  opacity: 1;
  visibility: unset;
  height: 36px;
  width: 36px;
  margin: 8px;
  font-size: 16px;
}
.elementor-widget-felan-testimonial.layout-image-bottom .nav-style-03 .swiper-nav-buttons {
  -ms-flex-pack: center !important;
  justify-content: center !important;
  margin-top: 32px;
}
.elementor-widget-felan-testimonial.layout-image-bottom .nav-style-03 .swiper-nav-buttons-wrap {
  position: static;
}
.elementor-widget-felan-testimonial.layout-image-inline .image {
  flex-shrink: 0;
  margin: 0 10px 0 0;
}
.elementor-widget-felan-testimonial.layout-image-inline .info {
  display: inline-flex;
  align-items: center;
  text-align: left;
}
.elementor-widget-felan-testimonial.layout-image-inline .testimonial-rating {
  margin-bottom: 10px;
}
.elementor-widget-felan-testimonial.layout-image-inline.align-right .info {
  text-align: right;
  flex-direction: row-reverse;
}
.elementor-widget-felan-testimonial.layout-image-inline.align-right .image {
  flex-shrink: 0;
  margin: 0 0 0 30px;
}
.elementor-widget-felan-testimonial.layout-image-inline.align-right .testimonial-item {
  text-align: right;
}
.elementor-widget-felan-testimonial.layout-image-stacked .image {
  margin: 0 0 12px;
  display: flex;
  justify-content: center;
}
.elementor-widget-felan-testimonial.layout-image-stacked .info {
  display: inline-block;
}
.elementor-widget-felan-testimonial.layout-image-stacked .position {
  margin-top: 3px;
}
.elementor-widget-felan-testimonial.layout-image-above .image {
  margin-bottom: 20px;
}
.elementor-widget-felan-testimonial.layout-image-above .image:before {
  display: none;
}
.elementor-widget-felan-testimonial.layout-image-above .cite {
  display: block;
  margin-top: 46px;
}
.elementor-widget-felan-testimonial.layout-image-above .position {
  margin-top: 11px;
}
.elementor-widget-felan-testimonial.layout-image-top .swiper-slide {
  padding: 70px 0 0;
}
.elementor-widget-felan-testimonial.layout-image-top .testimonial-item {
  padding-top: 100px !important;
}
.elementor-widget-felan-testimonial.layout-image-top .image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.elementor-widget-felan-testimonial.layout-image-top .image img {
  width: 140px;
  height: 140px;
}
.elementor-widget-felan-testimonial.layout-image-top .info {
  padding: 34px 0 0;
}
.elementor-widget-felan-testimonial.layout-image-top-02 .image {
  margin: 0 0 30px;
}
.elementor-widget-felan-testimonial.layout-image-top-02 .image img {
  width: 124px;
  height: 124px;
}
.elementor-widget-felan-testimonial.layout-image-top-02 .info {
  padding: 21px 0 0;
}
.elementor-widget-felan-testimonial.layout-image-left .info {
  padding: 25px 0 0;
}
.elementor-widget-felan-testimonial.layout-image-left .testimonial-main-content {
  padding: 30px;
  border-color: var(--felan-color-border);
  border-style: solid;
}
.elementor-widget-felan-testimonial.image-position-above .info {
  padding: 0 0 24px;
}
.elementor-widget-felan-testimonial.image-position-below .info {
  padding: 32px 0 0;
}
.elementor-widget-felan-testimonial.image-position-bottom .testimonial-main-content {
  height: 100%;
}
.elementor-widget-felan-testimonial.image-position-bottom .content-wrap {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.elementor-widget-felan-testimonial.image-position-bottom .content {
  flex-grow: 1;
}
.elementor-widget-felan-testimonial.image-position-bottom .info {
  padding: 55px 0 0;
  flex-shrink: 0;
}
.elementor-widget-felan-testimonial.image-position-bottom.align-center .info {
  justify-content: center;
}
.elementor-widget-felan-testimonial .image img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.elementor-widget-felan-testimonial .cite {
  font-style: normal;
}
.elementor-widget-felan-testimonial .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}
.elementor-widget-felan-testimonial .testimonial-rating {
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.elementor-widget-felan-testimonial .testimonial-rating > svg + svg {
  margin-left: 3px;
}
.elementor-widget-felan-testimonial .quote {
  margin-bottom: 12px;
}
.elementor-widget-felan-testimonial .text {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.elementor-widget-felan-testimonial .name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.elementor-widget-felan-testimonial .position {
  display: block;
}

@media (min-width: 1200px) {
  .custom-felan-testi-01 .slick-prev {
    top: auto;
    bottom: -95px;
    left: 0;
  }
  .custom-felan-testi-01 .slick-next {
    top: auto;
    bottom: -95px;
    right: auto;
    left: 60px;
  }
  .custom-felan-testi-01 .progress {
    width: 80%;
    margin-left: auto;
    margin-top: 50px;
  }
  .custom-testi-active-top .slick-active {
    margin-top: 50px;
  }
  .custom-testi-active-top .slick-current.slick-active + .slick-active {
    margin-top: 0;
  }
  .custom-testi-active-top .slick-next {
    right: 31%;
  }
  .custom-testi-active-top .slick-prev {
    left: 31%;
  }
}
.felan-testimonial-cite-layout-inline .name {
  display: inline-block;
}
.felan-testimonial-cite-layout-inline .position {
  display: inline-block;
  margin: 0 0 0 13px;
}
.felan-testimonial-cite-layout-inline .position:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #d8d8d8;
  display: inline-block;
  vertical-align: 3px;
  margin-right: 10px;
  border-radius: 10px;
}

.felan-testimonial-style-01 .testimonial-item {
  position: relative;
  padding: 77px 80px 106px;
  background-image: linear-gradient(235deg, #e6eef5 0%, #edeff6 100%);
  border-radius: 5px;
}
.felan-testimonial-style-01 .testimonial-item .testimonial-logo {
  content: "";
  position: absolute;
  top: 58px;
  right: 49px;
}
.felan-testimonial-style-01 .image img {
  width: 90px;
  height: 90px;
}
.felan-testimonial-style-01 .text {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}
.felan-testimonial-style-01.image-position-below .info {
  padding: 40px 0 0;
}

.felan-testimonial-style-02 .testimonial-item {
  position: relative;
  padding: 56px 40px 55px;
  background-color: #f6fafe;
  border-radius: 5px;
}
.felan-testimonial-style-02 .testimonial-item .testimonial-logo {
  content: "";
  position: absolute;
  top: 44px;
  right: 38px;
}
.felan-testimonial-style-02 .image img {
  width: 90px;
  height: 90px;
}
.felan-testimonial-style-02 .title {
  margin-bottom: 21px;
}
.felan-testimonial-style-02 .text {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
  color: #333;
}
.felan-testimonial-style-02.image-position-below .info {
  padding: 32px 0 0;
}

.felan-testimonial-style-03.image-position-above .info:before {
  top: 8px;
  bottom: auto;
}
.felan-testimonial-style-03.image-position-bottom .text {
  font-size: 24px;
  line-height: 1.25;
  color: var(--felan-color-primary);
  padding-right: 70px;
}
.felan-testimonial-style-03.image-position-bottom .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}
.felan-testimonial-style-03.image-position-bottom .position {
  display: block;
  font-size: 18px;
}
.felan-testimonial-style-03 .info {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.felan-testimonial-style-03 .info .testimonial-logo {
  content: "";
  position: absolute;
  right: 0;
}
.felan-testimonial-style-03 .image {
  margin-right: 20px !important;
  margin-bottom: 0 !important;
}
.felan-testimonial-style-03 .image img {
  width: 72px;
  height: 72px;
}
.felan-testimonial-style-03 .testimonial-item {
  background-color: #fff;
  border-radius: 16px;
  padding: 40px 32px;
  border: 1px solid var(--felan-color-border);
}

.felan-testimonial-style-04 .cite {
  margin-bottom: 16px;
}
.felan-testimonial-style-04 .cite .name {
  font-size: 18px;
}
.felan-testimonial-style-04 .title {
  margin-bottom: 6px;
}

.felan-testimonial-pagination.style-01 {
  display: inline-block;
  width: 315px;
  max-width: 100%;
  margin-top: 30px;
}
.felan-testimonial-pagination.style-01 .swiper-slide .image {
  margin-bottom: 0;
}
.felan-testimonial-pagination.style-01 .swiper-slide .image img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.felan-testimonial-pagination.style-01 .swiper-slide:not(.swiper-slide-thumb-active) {
  cursor: pointer;
}
.felan-testimonial-pagination.style-01 .swiper-slide:not(.swiper-slide-thumb-active) img {
  opacity: 0.4;
}

@media (min-width: 768px) {
  .elementor-widget-felan-testimonial.layout-image-left .testimonial-item {
    display: flex;
  }
  .elementor-widget-felan-testimonial.layout-image-left .image {
    flex-shrink: 0;
  }
  .elementor-widget-felan-testimonial.layout-image-left .image img {
    width: 230px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    object-fit: cover;
  }
  .elementor-widget-felan-testimonial.layout-image-left .testimonial-main-content {
    border-width: 1px 1px 1px 0;
    border-radius: 0 8px 8px 0;
  }
}
@media (max-width: 767px) {
  .elementor-widget-felan-testimonial.layout-image-left .image {
    width: 100%;
  }
  .elementor-widget-felan-testimonial.layout-image-left .image img {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .elementor-widget-felan-testimonial.layout-image-left .testimonial-main-content {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 8px 8px;
  }
}
.custom-testi-quote-02 .slick-slide {
  padding-top: 50px;
}
.custom-testi-quote-02 .testimonial-inner {
  position: relative;
}
.custom-testi-quote-02 .testimonial-inner > .quote {
  right: 76px;
  display: block !important;
}
.custom-testi-quote-02 .testimonial-inner > .box-post {
  right: 61px;
  border: 0;
  display: block !important;
}
.custom-testi-quote-02 .testimonial-item {
  overflow: hidden;
}
.custom-testi-quote-02 .quote {
  width: 70px;
  height: 70px;
  line-height: 100px;
  background-color: var(--felan-color-accent);
  text-align: center;
  position: absolute;
  top: -35px;
  right: 60px;
  border-radius: 50%;
  z-index: 1;
}
.custom-testi-quote-02 .quote svg {
  width: 24px;
}
.custom-testi-quote-02 .quote path {
  fill: #fff;
}
.custom-testi-quote-02 .box-post {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  top: -50px;
  right: 45px;
  border: 1px solid var(--felan-color-border);
  border-radius: 50px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .elementor-widget-felan-testimonial.felan-testimonial-style-01 .testimonial-item {
    padding: 77px 40px 106px;
  }
  .elementor-widget-felan-testimonial.felan-testimonial-style-01 .text {
    font-size: 21px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial-logo {
    display: none !important;
  }
}
@media only screen and (max-width: 550px) {
  .elementor-widget-felan-testimonial.layout-image-left .testimonial-item {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .elementor-widget-felan-testimonial.felan-testimonial-style-01 .testimonial-item {
    padding: 77px 30px 106px;
  }
  .elementor-widget-felan-testimonial.felan-testimonial-style-01 .text {
    font-size: 18px;
  }
  .elementor-widget-felan-testimonial.felan-testimonial-style-02 .testimonial-item {
    padding: 46px 30px 45px;
  }
}

/*# sourceMappingURL=testimonial-carousel.css.map */
