.felan-timeline.style-01 .timeline-item::after {
  content: "";
  display: table;
  clear: both;
}

.felan-timeline.style-01 {
  position: relative;
}
.felan-timeline.style-01 .timeline-line {
  position: absolute;
  left: 50%;
  margin-left: -1px;
  height: 100%;
  border-left: 2px solid #e2e2e8;
}
.felan-timeline.style-01 .timeline-list {
  padding: 44px 0 47px;
}
.felan-timeline.style-01 .timeline-item {
  position: relative;
}
.felan-timeline.style-01 .timeline-item + .timeline-item {
  margin-top: 87px;
}
.felan-timeline.style-01 .timeline-item:nth-child(even) .content-wrap {
  flex-direction: row-reverse;
}
.felan-timeline.style-01 .timeline-item:nth-child(even) .content-header {
  text-align: left;
  justify-content: flex-end;
}
.felan-timeline.style-01 .timeline-item:nth-child(even) .content-main {
  text-align: right;
  justify-content: flex-start;
}
.felan-timeline.style-01 .timeline-dot {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.felan-timeline.style-01 .timeline-dot:before,
.felan-timeline.style-01 .timeline-dot:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid currentColor;
  border-radius: 50%;
}
.felan-timeline.style-01 .timeline-dot:before {
  width: 30px;
  height: 30px;
  opacity: 0.3;
}
.felan-timeline.style-01 .timeline-dot:after {
  width: 13px;
  height: 13px;
  border-width: 3px;
  background: #fff;
}
.felan-timeline.style-01 .content-wrap {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-right: -30px;
}
.felan-timeline.style-01 .image img {
  border-radius: 5px;
}
.felan-timeline.style-01 .content-header,
.felan-timeline.style-01 .content-main {
  display: flex;
  width: 50%;
  padding: 0 30px;
}
.felan-timeline.style-01 .content-header {
  text-align: right;
  justify-self: flex-start;
}
.felan-timeline.style-01 .content-main {
  text-align: left;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 2;
}
.felan-timeline.style-01 .content-main h4 {
  font-size: 24px;
  margin-bottom: 22px;
}
.felan-timeline.style-01 .content-inner {
  max-width: 500px;
}
.felan-timeline.style-01 .title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 56px;
}
.felan-timeline.style-01 .text {
  margin-bottom: 25px;
}
.felan-timeline.style-01 .timeline-date {
  font-size: 50px;
  line-height: 1;
  color: #ababab;
  margin: 0 0 30px;
}
.felan-timeline.style-01 .timeline-date > div {
  display: inline-block;
}

@media (max-width: 767px) {
  .felan-timeline.style-01 .timeline-line {
    left: 15px;
  }
  .felan-timeline.style-01 .timeline-item {
    padding-left: 50px;
  }
  .felan-timeline.style-01 .timeline-item + .timeline-item {
    margin-top: 40px;
  }
  .felan-timeline.style-01 .timeline-dot {
    left: 0;
    transform: none;
  }
  .felan-timeline.style-01 .content-wrap {
    display: block;
  }
  .felan-timeline.style-01 .content-header,
  .felan-timeline.style-01 .content-main {
    display: block;
    width: 100%;
    text-align: left !important;
  }
  .felan-timeline.style-01 .content-header {
    margin-bottom: 40px;
  }
  .felan-timeline.style-01 .title {
    margin-bottom: 30px;
  }
}
body:not(.elementor-editor-active)
  .felan-timeline
  .felan-entrance-animation-queue
  .item
  .content-header,
body:not(.elementor-editor-active)
  .felan-timeline
  .felan-entrance-animation-queue
  .item
  .content-main {
  opacity: 0;
}
body:not(.elementor-editor-active)
  .felan-timeline
  .felan-entrance-animation-queue
  .item
  .content-header {
  transform: translateX(-100px);
}
body:not(.elementor-editor-active)
  .felan-timeline
  .felan-entrance-animation-queue
  .item
  .content-main {
  transform: translateX(100px);
}
body:not(.elementor-editor-active)
  .felan-timeline
  .felan-entrance-animation-queue
  .item:nth-child(even)
  .content-header {
  transform: translateX(100px);
}
body:not(.elementor-editor-active)
  .felan-timeline
  .felan-entrance-animation-queue
  .item:nth-child(even)
  .content-main {
  transform: translateX(-100px);
}
body:not(.elementor-editor-active)
  .felan-timeline
  .felan-entrance-animation-queue
  .item.animate
  .content-header,
body:not(.elementor-editor-active)
  .felan-timeline
  .felan-entrance-animation-queue
  .item.animate
  .content-main {
  opacity: 1;
  animation: moveHorizontal 0.65s ease forwards;
}

@media (max-width: 767px) {
  body:not(.elementor-editor-active)
    .felan-timeline
    .felan-entrance-animation-queue
    .item
    .content-header,
  body:not(.elementor-editor-active)
    .felan-timeline
    .felan-entrance-animation-queue
    .item
    .content-main {
    transform: translateX(50px);
  }
  body:not(.elementor-editor-active)
    .felan-timeline
    .felan-entrance-animation-queue
    .item:nth-child(even)
    .content-header,
  body:not(.elementor-editor-active)
    .felan-timeline
    .felan-entrance-animation-queue
    .item:nth-child(even)
    .content-main {
    transform: translateX(50px);
  }
}

/*# sourceMappingURL=timeline.css.map */
